#es-rc #es-rc-content {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    max-width: 680px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: #000000;
    background-color: #fff;
}

#es-rc #es-rc-content * {
    box-sizing: border-box;
}

#es-rc #es-rc-content img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

#es-rc #es-rc-content .es-header__img-logo {
    max-width: 140px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

#es-rc #es-rc-content .es-kv {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#es-rc #es-rc-content .es-kv__logo {
    display:none;
    align-items: flex-end;

    padding: 25px;
}

#es-rc #es-rc-content .es-kv__logo-img {
    margin-right: 0;
}

#es-rc #es-rc-content .es-kv__title {
    margin-top: 0;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

#es-rc #es-rc-content .es-kv__content {
    display:none;
}
#es-rc #es-rc-content .es-kv__mobile img {
    width:100%;
    display:block;
}
#es-rc #es-rc-content .es-kv__content-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

#es-rc #es-rc-content .es-kv__content-left span {
    font-weight: 700;
    text-transform: uppercase;
}


#es-rc #es-rc-content .es-cross {
    display: none;
    margin-bottom: 60px;
}
#es-rc #es-rc-content .es-cross .es-bold, #es-rc #es-rc-content .es-cross-mobile .es-bold {
    font-weight:700;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 24px;
}
#es-rc #es-rc-content .es-cross__single {
    display: flex;
    flex-flow: column;
    margin: 15px auto;
    width: 160px;
    transition: transform 0.6s;
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__single--img img {
    transform: translateY(-8px);
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__single--link {
    color: #000;
    background-color: #fff;
}
#es-rc #es-rc-content .es-cross__single--img img {
    max-height: 250px;
    transition: all 0.3s ease-in-out;
}
#es-rc #es-rc-content .es-cross__single--text--wrapper {
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
}
#es-rc #es-rc-content a {
    color:#000;
    text-decoration: none;
}
#es-rc #es-rc-content .es-cross__single--text {
    padding-left: 5px;
    font-size: 14px;
}
#es-rc #es-rc-content .es-cross__single--link {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}
#es-rc #es-rc-content .es-blue-text {
    color: #007470;
    text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross-mobile {
    display: block;
    margin: 30px 0;
}
#es-rc #es-rc-content .es-cross-mobile .es-cross-mobile__title {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#es-rc #es-rc-content .es-cross-mobile .swiper-wrapper {
    padding-bottom: 25px;
}
#es-rc #es-rc-content .es-cross-mobile .swiper-pagination-bullet-active {
    background:#000;
}
#es-rc #es-rc-content .es-cross-mobile .swiper-button-prev,
#es-rc #es-rc-content .es-cross-mobile .swiper-button-next {
    top: 40%;
    color:#000;
}
#es-rc #es-rc-content .es-swiper--1 .es-cross__single {
    width: 210px;
}
#es-rc #es-rc-content .es-swiper--1 .es-cross__single--text--wrapper {
    align-items: center;
}
#es-rc #es-rc-content .swiper-button-prev.swiper-button-prev--1 {
    top: unset;
    bottom: -6px;
    left: 32px;
}
#es-rc #es-rc-content .swiper-button-prev.swiper-button-prev--1::after {
    font-size: 22px;
    font-weight: 900;
    color: #007470;
}
#es-rc #es-rc-content .swiper-button-next.swiper-button-next--1 {
    top: unset;
    bottom: -6px;
    right: 36px;
}
#es-rc #es-rc-content .swiper-button-next.swiper-button-next--1::after {
    font-size: 22px;
    font-weight: 900;
}




#es-rc #es-rc-content .es-formula {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 25px;
    background-position: right;

    display: flex;
    flex-direction: column;
    gap: 19px;
}

#es-rc #es-rc-content .es-formula {
    padding:30px;
    padding-bottom:270px;
    background-size:150%;
    background-position: right bottom;
    background-color:#F4F4F4;
    justify-content: flex-start;
}
#es-rc #es-rc-content .es-formula__item {
    width: 80%;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
#es-rc #es-rc-content .es-formula__item-image {
    flex-basis: 80px;
    flex-grow: 0;
    flex-shrink: 0;
}
#es-rc #es-rc-content .es-formula__item-image > img {
    margin: 0;
    width:90px;
}
#es-rc #es-rc-content .es-formula__item-text {
    text-transform: uppercase;
}

#es-rc #es-rc-content .es-formula__item-text > span:nth-child(1) {
    font-size: 24px;
    font-weight: 800;
    color: #004947;
}

#es-rc #es-rc-content .es-formula__item-text > span:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    color: #004947;
}

#es-rc #es-rc-content .es-results-mobile {
    display: block;
}
#es-rc #es-rc-content .es-results-mobile img {
    display:block;
    width:100%;
}
#es-rc #es-rc-content .es-results {
    display: none;
    background-color: #014946;
}

#es-rc #es-rc-content .es-results__left {
    width: 54.702%
}

#es-rc #es-rc-content .es-results__left {
    background-repeat: no-repeat;
    background-size: 0;
    background-position: bottom;
}

#es-rc #es-rc-content .es-results__right {
    width: 70%;
    padding: 39px 0;
    margin-left: auto;

    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 75px;
}

#es-rc #es-rc-content .es-results__right-item {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#es-rc #es-rc-content .es-results__right-item-text {
    font-size: 20px;
    color: #FFF;
}

#es-rc #es-rc-content .es-results__right-item-title {
    font-size: 28px;
    color: #77b8b6;
}

#es-rc #es-rc-content .es-results__right-item-text-increased {
    font-size: 80px;
}

@media screen and (min-width: 1200px) {
    #es-rc #es-rc-content .es-kv__logo {
        display: flex;
    }
    #es-rc #es-rc-content {
        max-width: 1300px;
    }

    #es-rc #es-rc-content .es-kv__subtitle {
        font-size: 27px;
    }

    #es-rc #es-rc-content .es-kv__content {
        display: flex;
    }
    #es-rc #es-rc-content .es-kv__mobile {
        display:none;
    }

    #es-rc #es-rc-content .es-kv__content-left {
        width: 45%;
        padding: 15px;

        text-align: left;
    }

    #es-rc #es-rc-content .es-kv__content-left > p:nth-child(1) {
        text-transform: capitalize;
        font-size: 110px;
        font-weight: 800;
        color: #00a498;

        margin: 0;
    }

    #es-rc #es-rc-content .es-kv__content-left > p:nth-child(2) {
        text-transform: capitalize;
        font-size: 25px;
        font-weight: 700;

        margin: 0;
    }

    #es-rc #es-rc-content .es-kv__content-left > p:nth-child(3) {
        font-size: 8px;
        font-weight: 400;

        margin-top: 25px;
    }

    #es-rc #es-rc-content .es-kv__content-left > div:nth-child(1) {
        font-size: 8px;
        font-weight: 700;

        margin-top: 25px;
    }

    #es-rc #es-rc-content .es-kv__content-right {
        width: 55%;
        margin-bottom: 60px;

        text-transform: uppercase;
        color: #fff;
    }

    #es-rc #es-rc-content .es-kv__content-right > p:nth-child(1) {
        width: fit-content;
        padding: 4px 8px;
        margin: 0;

        font-size: 20px;
        font-weight: 700;
        background-color: #00a599;
    }

    #es-rc #es-rc-content .es-kv__content-right > p:nth-child(2) {
        font-size: 50px;
        line-height: 40px;
        padding-top: 15px;
        margin: 0;
    }

    #es-rc #es-rc-content .es-kv__content-right > p:nth-child(3) {
        margin: 22px 0;

        font-size: 25px;
        font-weight: 700;
    }

    #es-rc #es-rc-content .es-kv__content-right-twofold {
        display: flex;
        gap: 41px;
        line-height: 27px;
    }

    #es-rc #es-rc-content .es-kv__content-right-twofold-item {
        display: flex;
        gap: 25px;
        align-items: center;

        font-weight: 400;
        text-transform: uppercase;
    }

    #es-rc #es-rc-content .es-kv__content-right-twofold-item > span:nth-child(1) {
        font-size: 110px;
        font-weight: 700;
    }

    #es-rc #es-rc-content .es-kv__content-right-twofold-item > span:nth-child(2) {
        font-size: 25px;
    }

    #es-rc #es-rc-content .es-cross-mobile {
        display: none;
    }
    #es-rc #es-rc-content .es-cross {
        display: block;
    }
    #es-rc #es-rc-content .es-cross__container {
        gap: 10px;
    }
    #es-rc #es-rc-content .es-cross__single {
        width: 190px;
    }
    #es-rc #es-rc-content .es-cross__single--img img {
        max-height: 220px;
    }
    #es-rc #es-rc-content .es-cross__single--text {
        padding-left: 8px;
        font-size: 11px;
    }
    #es-rc #es-rc-content .es-cross .es-crosss__single--text--border {
        width: 15px;
        height: 41px;
        background-color:#007470;
    }

    #es-rc #es-rc-content .es-formula {
        background-position: unset;
        background-size: cover;
        padding: 36.5px 87px;
    }

    #es-rc #es-rc-content .es-compare {
        padding: 40px 40px;
    }

    #es-rc #es-rc-content .es-compare__wrapper {
        display: flex;
        justify-content: space-between;
    }

    #es-rc #es-rc-content .es-compare__img {
        width: 26%;
        margin-top: 0;
    }

    #es-rc #es-rc-content .es-compare__desc {
        left: 10px;
    }

    #es-rc #es-rc-content .es-compare__text {
        width: 40%;
        margin-left: 25px;
        margin-top: 4%;
        text-align: left;
    }

    #es-rc #es-rc-content .es-compare__text-main {
        font-size: 30px;
    }

    #es-rc #es-rc-content .es-compare__text-disclaimer {
        font-size: 13px;
        margin-top: 18%;
    }

    #es-rc #es-rc-content .es-results-mobile {
        display:none;
    }
    #es-rc #es-rc-content .es-results {
        display: flex;
        background-size:cover;
    }
}
